<div class="login-card rounded-3 overflow-hidden bg-white mx-auto">
    <div class="login-head bg-dark text-light p-4">
        <h3 class="text-center m-0">Two-factor Authentication</h3>
    </div>
    <div class="login-body p-4 p-md-5">
        <div class="login-body-wrapper mx-auto">
            <div class="mb-3">
                <label for="otp" class="form-label">OTP six digit code</label>
                <input type="otp" class="form-control form-control-lg" name="otp" id="otp" placeholder="">
            </div>
            <div class="d-grid gap-2">
              <a href="login.html" class="btn btn-primary btn-lg" type="button">Submit</a>
            </div>
        </div>
    </div>
</div>
