{{  with $.message }}
<div class="alert alert-danger alert-dismissible mx-auto fade show" role="alert">
  {{ . }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{ end }}
{{  with $.success }}
<div class="alert alert-success alert-dismissible mx-auto fade show" role="alert">
  Account settings updated successfully
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{ end }}
<div id="account-failed" style="display: none" class="alert alert-danger alert-dismissible mx-auto fade show" role="alert">
</div>
<h3 class="mb-4">Account Settings</h3>
<form>
<div class="row">
	<div class="col-md-6">
		<div class="mb-3">
		  	<label class="form-label">First Name</label>
		  	<input type="text" class="form-control" name="first" id="first" value="{{ .user.First }}">
		</div>
	</div>
	<div class="col-md-6">
		<div class="mb-3">
		  	<label class="form-label">Last Name</label>
		  	<input type="text" class="form-control" name="last" id="last" value="{{ .user.Last }}">
		</div>
	</div>
	<div class="col-md-6">
		<div class="mb-3">
		  	<label class="form-label">Email</label>
		  	<input type="text" class="form-control" value="{{ .user.Email }}" disabled readonly>
		</div>
	</div>
	<div class="col-md-6">
		<div class="mb-3">
		  	<label class="form-label">Phone number</label>
		  	<input type="text" class="form-control" name="phone" id="phone" value="{{ .user.Mobile }}">
		</div>
	</div>
	<div class="col-md-6">
		<div class="mb-3">
		  	<label class="form-label">Username</label>
		  	<input type="text" class="form-control" value="{{ .user.Username }}" disabled readonly>
		</div>
	</div>
	<div class="col-md-6">
		<div class="mb-3">
		  	<label class="form-label">Last Password Change</label>
		  	<input type="text" class="form-control" value="{{ if not .user.LastPasswdChange.IsZero }}{{ TimeAgo .user.LastPasswdChange }}{{ else }}Never{{ end }}" disabled readonly>
		</div>
	</div>
	<div class="col-md-12">
		<div class="mb-3">
		  	<label class="form-label">Groups</label>
            <div class="form-control-plaintext">
                    {{ range $g := .user.Groups }}
                        <span class="badge rounded-pill bg-dark">{{ $g }}</span> 
                    {{ else }}
                        &nbsp;
                    {{ end }}
		    </div>
		</div>
	</div>
</div>
<div>
    <button class="btn btn-primary" hx-target-error="account-failed"
            hx-headers='{"X-CSRF-Token": "{{ $.csrf }}"}'
            data-hx-vals='{"csrf": "{{ $.csrf }}"}'
            data-hx-target="#account" data-hx-post="/account/settings">
      Update
    </button>
</form>
</div>
