{{ template "header.html" . }}

<section class="col-lg-8 mx-auto p-3 py-md-5">
	<div class="container">
		<h1 class="mb-5">Account Settings</h1>
		<div class="bg-white shadow rounded-3 d-block d-sm-flex">
			<div class="profile-tab-nav border-end">
				<div class="p-4">
					<div class="img-circle text-center mb-3">
						<img src="/static/images/user-circle.png" alt="Gravatar" class="shadow">
					</div>
					<h4 class="text-center">{{ .user.First }} {{ .user.Last }}</h4>
				</div>
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="account-tab" data-bs-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
						<i class="fa fa-home text-center me-1"></i> 
						Account
					</a>
					<a class="nav-link" id="password-tab" data-bs-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
						<i class="fa fa-lock text-center me-1"></i> 
						Password
					</a>
					<a class="nav-link" id="security-tab" data-bs-toggle="pill" href="#security" role="tab" aria-controls="security" aria-selected="false">
						<i class="fa fa-shield text-center me-1"></i> 
						Security
					</a>
					<a class="nav-link" id="sshkey-tab" data-bs-toggle="pill" href="#sshkey" data-hx-get="/sshkey/list" data-hx-target="#sshkey" role="tab" aria-controls="sshkey" aria-selected="false">
						<i class="fa fa-key text-center me-1"></i> 
						SSH Keys
					</a>
					<a class="nav-link" id="otp-tab" data-bs-toggle="pill" href="#otp" data-hx-get="/otptoken/list" data-hx-target="#otp" role="tab" aria-controls="otp" aria-selected="false">
						<i class="fa fa-fingerprint text-center me-1"></i> 
						OTP Tokens
					</a>
					<a class="nav-link" id="logout" href="/auth/logout" role="tab">
						<i class="fa fa-arrow-right-from-bracket text-center me-1"></i> 
						Logout
					</a>
				</div>
			</div>
			<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
					<h3 class="mb-4">Account Settings</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="mb-3">
							  	<label class="form-label">First Name</label>
							  	<input type="text" class="form-control" name="first" id="first" value="{{ .user.First }}">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
							  	<label class="form-label">Last Name</label>
							  	<input type="text" class="form-control" name="last" id="last" value="{{ .user.Last }}">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
							  	<label class="form-label">Email</label>
							  	<input type="text" class="form-control" name="email" id="email" value="{{ .user.Email }}">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
							  	<label class="form-label">Phone number</label>
							  	<input type="text" class="form-control" name="phone" id="phone" value="{{ .user.Mobile }}">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
							  	<label class="form-label">Username</label>
							  	<input type="text" class="form-control" value="{{ .user.Username }}" disabled readonly>
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
							  	<label class="form-label">Last Password Change</label>
							  	<input type="text" class="form-control" value="{{ if not .user.LastPasswdChange.IsZero }}{{ TimeAgo .user.LastPasswdChange }}{{ else }}Never{{ end }}" disabled readonly>
							</div>
						</div>
						<div class="col-md-12">
							<div class="mb-3">
							  	<label class="form-label">Groups</label>
                                <div class="form-control-plaintext">
                                        {{ range $g := .user.Groups }}
                                            <span class="badge rounded-pill bg-dark">{{ $g }}</span> 
                                        {{ else }}
                                            &nbsp;
                                        {{ end }}
							    </div>
							</div>
						</div>
					</div>
					<div>
						<button class="btn btn-primary">Update</button>
					</div>
				</div>
				<div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
					<h3 class="mb-4">Change Password</h3>
                    {{ if .user.OTPOnly }}
					<div class="row">
						<div class="col-md-6">
							<div class="mb-3">
							  	<label class="form-label">OTP Code</label>
							  	<input type="otp" class="form-control">
                                <div id="otpHelp" class="form-text">Enter the six-digit auth code from your mobile app</div>
							</div>
						</div>
					</div>
                   {{ end }}
					<div class="row">
						<div class="col-md-6">
							<div class="mb-3">
							  	<label class="form-label">Current password</label>
							  	<input type="password" class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="mb-3">
							  	<label class="form-label">New password</label>
							  	<input type="password" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
							  	<label class="form-label">Confirm new password</label>
							  	<input type="password" class="form-control">
							</div>
						</div>
					</div>
					<div>
						<button class="btn btn-primary">Update</button>
					</div>
				</div>
				<div class="tab-pane fade" id="sshkey" role="tabpanel" aria-labelledby="sshkey-tab"></div>
				<div class="tab-pane fade" id="otp" role="tabpanel" aria-labelledby="otp-tab"></div>
				<div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
					<h3 class="mb-4">Security Settings</h3>
					<div class="card">
					  <div class="card-header">
						Authentication Methods
					  </div>
					  <ul class="list-group list-group-flush">
						<li class="list-group-item">Two-factor authentication
                        {{ if .user.OTPOnly }}
                        <button role="button" class="btn btn-sm btn-success text-center position-absolute top-50 end-0 translate-middle btn-alternate-hide">Enabled</button>
                        <button type="button" class="btn btn-sm btn-danger text-center position-absolute top-50 end-0 translate-middle btn-alternate-show">Disable</button>
                        {{ else }}
                        <button role="button" class="btn btn-sm btn-danger text-center position-absolute top-50 end-0 translate-middle btn-alternate-hide">Disabled</button>
                        <button type="button" class="btn btn-sm btn-success text-center position-absolute top-50 end-0 translate-middle btn-alternate-show">Enabled</button>
                        {{ end }}
						</li>
					  </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{ template "footer.html" . }}
