{{define "layout"}}
{{ template "header.html" . }}

<section class="col-lg-8 mx-auto p-3 py-md-5">
	<div class="container">
		<h1 class="mb-5">Account Settings</h1>
		<div class="bg-white shadow rounded-3 d-block d-sm-flex">
			<div class="profile-tab-nav border-end">
				<div class="p-4">
					<div class="img-circle text-center mb-3">
						<img src="/static/images/user-circle.png" alt="Gravatar" class="shadow">
					</div>
					<h4 class="text-center">Andrew Bruno</h4>
				</div>
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link {{ if eq $.page "account" }}active{{end}}" id="account-tab" href="/" role="tab" aria-controls="account" aria-selected="{{ if eq $.page "account" }}true{{else}}false{{end}}">
						<i class="fa fa-home text-center me-1"></i> 
						Account
					</a>
					<a class="nav-link {{ if eq $.page "password" }}active{{end}}" id="password-tab" href="/password" role="tab" aria-controls="password" aria-selected="{{ if eq $.page "password" }}true{{else}}false{{end}}">
						<i class="fa fa-lock text-center me-1"></i> 
						Password
					</a>
					<a class="nav-link {{ if eq $.page "security" }}active{{end}}" id="security-tab" href="/security" role="tab" aria-controls="security" aria-selected="{{ if eq $.page "security" }}true{{else}}false{{end}}">
						<i class="fa fa-shield text-center me-1"></i> 
						Security
					</a>
					<a class="nav-link {{ if eq $.page "sshkeys" }}active{{end}}" id="sshkey-tab" href="/sshkeys" role="tab" aria-controls="sshkey" aria-selected="{{ if eq $.page "sshkeys" }}true{{else}}false{{end}}">
						<i class="fa fa-key text-center me-1"></i> 
						SSH Keys
					</a>
					<a class="nav-link {{ if eq $.page "otp" }}active{{end}}" id="otp-tab" href="/otp" role="tab" aria-controls="otp" aria-selected="{{ if eq $.page "otp" }}true{{else}}false{{end}}">
						<i class="fa fa-fingerprint text-center me-1"></i> 
						OTP Tokens
					</a>
					<a class="nav-link" id="logout" href="#logout" role="tab" aria-controls="otp" aria-selected="false">
						<i class="fa fa-arrow-right-from-bracket text-center me-1"></i> 
						Logout
					</a>
				</div>
			</div>

			<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                {{template "content" .}}
				</div>
			</div>
		</div>
	</div>
</section>

{{ template "footer.html" . }}
{{end}}
