<div class="login-card rounded-3 overflow-hidden bg-white mx-auto">
    <div class="login-head bg-dark text-light p-4">
        <h3 class="text-center m-0">Password Expired</h3>
    </div>
    <div class="login-body p-4 p-md-5">
        <div class="login-body-wrapper mx-auto">
            <form>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="username" class="form-control form-control-lg" value="{{ $.user.Username }}" disabled="disabled">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Current Password</label>
                <input type="password" class="form-control form-control-lg" name="password" id="password" autofocus="autofocus" placeholder="">
            </div>
            <div class="mb-3">
                <label for="newpassword" class="form-label">New Password</label>
                <input type="password" class="form-control form-control-lg" name="newpassword" id="newpassword" placeholder="">
            </div>
            <div class="mb-3">
                <label for="newpassword2" class="form-label">Confirm Password</label>
                <input type="password" id="newpassword2" class="form-control form-control-lg" name="newpassword2" placeholder="">
            </div>
            {{ if $.user.OTPOnly }}
            <div class="mb-3">
                <label for="otp" class="form-label">OTP six digit code</label>
                <input type="otp" class="form-control form-control-lg" name="otp" id="otp" placeholder="">
            </div>
            {{ end }}
            <div class="mb-3 d-grid gap-2">
              <input type="hidden" name="username" value="{{ $.user.Username }}" />
              <button hx-headers='{"X-CSRF-Token": "{{ $.csrf }}"}' hx-target-error="login-failed" hx-post="/auth/expiredpw" hx-target="#login" hx-swap="innerHTML" class="btn btn-primary btn-lg" type="submit">
              <span class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
              Change Password
              </button>
            </div>
          </form>
        </div>
    </div>
</div>
