{{ template "header.html" . }}

<section class="main-content">
        <div id="login-failed" style="display: none" class="login-failed alert alert-danger mx-auto" role="alert">
        </div>
        <div id="login" class="container">
            <div class="login-card rounded-3 overflow-hidden bg-white mx-auto">
                <div class="login-head bg-dark text-light p-4">
                    <h3 class="text-center m-0">{{ Translate $.lang "login.title" }}</h3>
                </div>
                <div class="login-body p-4 p-md-5">
                    <div class="login-body-wrapper mx-auto">
                        <form id="login-form" class="mokey-login-form" method="post" action="/auth/login" autocomplete="on"
                              hx-post="/auth/login" hx-target="#login" hx-swap="innerHTML"
                              hx-headers='{"X-CSRF-Token": "{{ $.csrf }}"}' hx-target-error="login-failed">
                        <input type="hidden" name="_csrf" value="{{ $.csrf }}">
                        <div class="mb-3">
                            <label for="username" class="form-label">{{ Translate $.lang "common.username" }}</label>
                            <input type="text" class="form-control form-control-lg" name="username" id="username" autocomplete="username" autocapitalize="none" spellcheck="false" autofocus="autofocus" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">{{ Translate $.lang "common.password" }}</label>
                            <input type="password" class="form-control form-control-lg" name="password" id="password" autocomplete="current-password" placeholder="">
                        </div>
                        <div class="mb-3 d-grid gap-2">
                          <input type="hidden" name="challenge" value="{{ $.challenge }}" />
                          <button class="btn btn-primary btn-lg" type="submit">
                          <span class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          {{ Translate $.lang "login.next_button" }}
                          </button>
                        </div>
                        </form>
			{{ if ConfigValueBool "accounts.enable_user_signup" }}
			<p class="text-muted text-center">{{ Translate $.lang "login.new_user" }} <a href="/signup">{{ Translate $.lang "login.create_account" }}</a></p>
			{{ end }}
                    </div>
                </div>
            </div>

        </div>
    </section>

{{ template "footer.html" . }}
