<div class="login-card rounded-3 overflow-hidden bg-white mx-auto">
    <div class="login-head bg-dark text-light p-4">
        <h3 class="text-center m-0">Two-factor Authentication</h3>
    </div>
    <div class="login-body p-4 p-md-5">
        <div class="login-body-wrapper mx-auto">
            <form>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="">
                <a href="#">Forgot password?</a>
            </div>
            <div class="mb-3">
                <label for="otp" class="form-label">OTP six digit code</label>
                <input type="otp" class="form-control form-control-lg" name="otp" id="otp" placeholder="">
            </div>
            <div class="d-grid gap-2">
              <input type="hidden" name="csrf" value="{{ $.csrf }}" />
              <input type="hidden" name="uid" value="{{ $.user.Uid }}" />
              <button hx-headers='{"X-CSRF-Token": "{{ $.csrf }}"}' hx-target-error="login-failed" hx-post="/auth/authenticate" hx-target="#login" hx-swap="innerHTML" class="btn btn-primary btn-lg" type="submit">
              <span class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
              Login
              </button>
            </div>
          </form>
        </div>
    </div>
</div>
