<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
       <h5 class="modal-title" id="modalLabel"><i class="fa fa-qrcode"></i> Scan QR code with authenticator app</h5>
    </div>
    <div id="modal-body" class="modal-body">
        <div class="text-center">
            <p><span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> TOTP Token Added Successfully</span></p>
            <img class="img-fluid" alt="QRCode" src="data:image/png;base64,{{ .otpdata }}" />
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-hx-get="/otptoken/list" data-hx-target="#otp" _="on htmx:beforeOnLoad call closeModal('otptoken-modal')">Done</button>
    </div>
  </div>
</div>
