{{ with $.message }}
<div class="alert alert-danger alert-dismissible mx-auto fade show" role="alert">
  {{ . }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{ end }}
{{ with $.success }}
<div class="alert alert-success alert-dismissible mx-auto fade show" role="alert">
  {{ Translate $.lang "password_change.success" }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{ end }}
<div id="cpw-failed" style="display: none" class="alert alert-danger alert-dismissible mx-auto fade show" role="alert">
</div>
<h3 class="mb-4">{{ Translate $.lang "password_change.title" }}</h3>
<form>
<div class="row">
        <div class="col-md-6">
                <div class="mb-3">
                        <label class="form-label">{{ Translate $.lang "common.current_password" }}</label>
                        <input type="password" name="password" class="form-control">
                </div>
        </div>
</div>
<div class="row">
        <div class="col-md-6">
                <div class="mb-3">
                        <label class="form-label">{{ Translate $.lang "common.new_password" }}</label>
                        <input type="password" name="newpassword" class="form-control">
                </div>
        </div>
        <div class="col-md-6">
                <div class="mb-3">
                        <label class="form-label">{{ Translate $.lang "password_change.confirm_new_password" }}</label>
                        <input type="password" name="newpassword2" class="form-control">
                </div>
        </div>
</div>
{{ if $.user.OTPOnly }}
<div class="row">
        <div class="col-md-6">
                <div class="mb-3">
                        <label class="form-label">{{ Translate $.lang "common.otp_code" }}</label>
                        <input type="text" name="otpcode" class="form-control">
            <div id="otpHelp" class="form-text">{{ Translate $.lang "password_change.otp_help" }}</div>
                </div>
        </div>
</div>
{{ end }}
<div>
    <button class="btn btn-primary" hx-target-error="cpw-failed"
            hx-headers='{"X-CSRF-Token": "{{ $.csrf }}"}'
            data-hx-vals='{"csrf": "{{ $.csrf }}"}'
            data-hx-target="#password" data-hx-post="/password/change">
      {{ Translate $.lang "common.update" }}
    </button>
</form>
</div>
