{{  with $.message }}
<div class="alert alert-danger alert-dismissible mx-auto fade show" role="alert">
  {{ . }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{ end }}
{{  with $.success }}
<div class="alert alert-success alert-dismissible mx-auto fade show" role="alert">
  Password updated successfully
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{ end }}
<div id="cpw-failed" style="display: none" class="alert alert-danger alert-dismissible mx-auto fade show" role="alert">
</div>
<h3 class="mb-4">Change Password</h3>
<form>
<div class="row">
	<div class="col-md-6">
		<div class="mb-3">
		  	<label class="form-label">Current password</label>
		  	<input type="password" name="password" class="form-control">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="mb-3">
		  	<label class="form-label">New password</label>
		  	<input type="password" name="newpassword" class="form-control">
		</div>
	</div>
	<div class="col-md-6">
		<div class="mb-3">
		  	<label class="form-label">Confirm new password</label>
		  	<input type="password" name="newpassword2" class="form-control">
		</div>
	</div>
</div>
{{ if $.user.OTPOnly }}
<div class="row">
	<div class="col-md-6">
		<div class="mb-3">
		  	<label class="form-label">OTP Code</label>
		  	<input type="text" name="otpcode" class="form-control">
            <div id="otpHelp" class="form-text">Enter the six-digit auth code from your mobile app</div>
		</div>
	</div>
</div>
{{ end }}
<div>
    <button class="btn btn-primary" hx-target-error="cpw-failed"
            hx-headers='{"X-CSRF-Token": "{{ $.csrf }}"}'
            data-hx-vals='{"csrf": "{{ $.csrf }}"}'
            data-hx-target="#password" data-hx-post="/password/change">
      Update
    </button>
</form>
</div>
