<div class="login-card rounded-3 overflow-hidden bg-white mx-auto">
    <div class="login-head bg-dark text-light p-4">
        <h3 class="text-center m-0">{{ Translate $.lang "password_reset.title" }}</h3>
    </div>
    <div class="login-body p-4 p-md-5">
        <div class="login-body-wrapper mx-auto">
            <div class="text-center">
            <p><span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> {{ Translate $.lang "password_reset.success_message" }}</span></p>
            <p><a href="/auth/login">{{ Translate $.lang "common.login" }}</a></p>
            </div>
        </div>
    </div>
</div>
