{{define "content"}}
<h3 class="mb-4">Change Password</h3>
{{ if $.user.OTPOnly }}
<div class="row">
	<div class="col-md-6">
		<div class="mb-3">
		  	<label class="form-label">OTP Code</label>
		  	<input type="otp" class="form-control">
            <div id="otpHelp" class="form-text">Enter the six-digit auth code from your mobile app</div>
		</div>
	</div>
</div>
{{ end }}
<div class="row">
	<div class="col-md-6">
		<div class="mb-3">
		  	<label class="form-label">Current password</label>
		  	<input type="password" class="form-control">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="mb-3">
		  	<label class="form-label">New password</label>
		  	<input type="password" class="form-control">
		</div>
	</div>
	<div class="col-md-6">
		<div class="mb-3">
		  	<label class="form-label">Confirm new password</label>
		  	<input type="password" class="form-control">
		</div>
	</div>
</div>
<div>
	<button class="btn btn-primary">Update</button>
</div>
{{end}}
