<div class="login-card rounded-3 overflow-hidden bg-white mx-auto">
    <div class="login-head bg-dark text-light p-4">
        <h3 class="text-center m-0">Verify Your Account</h3>
    </div>
    <div class="login-body p-4 p-md-5">
        <div class="login-body-wrapper mx-auto">
            <div class="text-center">
            <p><span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> Account created successfully</span></p>
            <p class="text-center">Your username is: <strong>{{ $.user.Username }}</strong></p>
            {{ if not (ConfigValueBool "accounts.require_admin_verify") }}
            <p class="text-center">You must verify your email address to activate your account. Check your email for further instructions.</p>
            {{ else }}
            <p class="text-center">An administrator will need to activate your account before you can use it.</p>
            {{ end }}
            </div>
        </div>
    </div>
</div>
