{{ template "header.html" . }}
<section class="main-content">
        <div id="login-failed" style="display: none" class="login-failed alert alert-danger mx-auto" role="alert">
        </div>
        <div id="login" class="container">
            <div class="login-card rounded-3 overflow-hidden bg-white mx-auto">
                <div class="login-head bg-dark text-light p-4">
                    <h3 class="text-center m-0">Sign Up</h3>
                </div>
                <div class="login-body p-4 p-md-5">
                    <div class="login-body-wrapper mx-auto">
                        <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control form-control-lg" name="email" value="{{ $.user.Email }}" autofocus="autofocus" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="username" class="form-control form-control-lg" name="username" value="{{ $.user.Username }}" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="first" class="form-label">First Name</label>
                            <input type="text" class="form-control form-control-lg" name="first" value="{{ $.user.First }}" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="last" class="form-label">Last Name</label>
                            <input type="text" class="form-control form-control-lg" name="last" value="{{ $.user.Last }}" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control form-control-lg" name="password" value="{{ $.password }}" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="password2" class="form-label">Confirm Password</label>
                            <input type="password" id="password2" class="form-control form-control-lg" name="password2" placeholder="">
                        </div>
                        {{ with $.captchaID }}
                        <div class="mb-3">
                            <div id="captchaHelpBlock" class="form-text">
                                Type the numbers you see in the picture below:</em> <button type="button" class="btn btn-link" onclick="reloadCaptcha()">Reload</button>
                            </div>
                            <input name="captcha_sol" id="captcha_sol" class="form-control form-control-lg" size="10" type="text" autocomplete="off">
                            <input name="captcha_id" id="captcha_id" type="hidden" value="{{ . }}">
                            <p><img id="captcha" src="/auth/captcha/{{ . }}.png" alt="Captcha image"></p>
                        </div>
                        {{ end }}
                        <div class="mb-3 d-grid gap-2">
                          <button hx-headers='{"X-CSRF-Token": "{{ $.csrf }}"}' hx-target-error="login-failed" hx-post="/signup" hx-target="#login" hx-swap="innerHTML" class="btn btn-primary btn-lg" type="submit">
                          <span class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
                          Create Account
                          </button>
                        </div>
                        </form>
                        <p class="text-muted text-center">Already have an account? <a href="/auth/login">Login</a></p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

<script>
document.body.addEventListener('htmx:afterRequest', function (evt) {
    if(evt.detail.xhr.status == 400 || evt.detail.xhr.status == 401) {
        document.getElementById('password2').value = "";
    }
});
</script>
{{ with $.captchaID }}
<script>
document.body.addEventListener("reloadCaptcha", function(evt){
    el = document.getElementById('captcha')
    document.getElementById('captcha_sol').value = "";
    document.getElementById('captcha_id').value = evt.detail.value;
    el.src = "/auth/captcha/" + evt.detail.value + ".png";
});

function setSrcQuery(e, q) {
    var src  = e.src;
    var p = src.indexOf('?');
    if (p >= 0) {
        src = src.substr(0, p);
    }
    e.src = src + "?" + q
}
function reloadCaptcha() {
    setSrcQuery(document.getElementById('captcha'), "reload=" + (new Date()).getTime());
    return false;
}
</script>
{{ end }}
{{ template "footer.html" . }}
