{{define "content"}}
<h3 class="mb-4">SSH Keys</h3>
<div class="text-end">
	<button type="button" class="btn btn-success end">
	  <i class="fa fa-plus"></i> New SSH Key
	</button>
</div>
<div class="row">

	<div class="d-flex flex-items-center">
		<div class="text-center d-flex flex-column">
		   <i class="fa fa-key fa-2x"></i>
		</div>
		<div class="flex-grow-1 ms-3">
		  <strong class="d-block">cardno:000604239319</strong>
		  <span title="Public key fingerprint">
			<code style="overflow-wrap: anywhere">SHA256:T4api9xBqxGmmCVk2o+A8YUlxOLvTBga2ky4YcaJhmw</code>
		  </span>
		  <span class="text-muted d-block">
			  <span class="">aebruno2@buffalo.edu ssh-rsa</span>
		  </span>
          <p>
              <button class="btn btn-sm btn-outline-danger ml-1" role="button">Delete</button>
          </p>
		</div>
	</div>

</div>
<div class="row">

	<div class="d-flex flex-items-center">
		<div class="text-center d-flex flex-column">
		   <i class="fa fa-key fa-2x"></i>
		</div>
		<div class="flex-grow-1 ms-3">
		  <strong class="d-block">cardno:000604239319</strong>
		  <span title="Public key fingerprint">
			<code style="overflow-wrap: anywhere">SHA256:T4api9xBqxGmmCVk2o+A8YUlxOLvTBga2ky4YcaJhmw</code>
		  </span>
		  <span class="text-muted d-block">
			  <span class="">aebruno2@buffalo.edu ssh-rsa</span>
		  </span>
          <p>
              <button class="btn btn-sm btn-outline-danger ml-1" role="button">Delete</button>
          </p>
		</div>
	</div>

</div>
{{end}}
