{{define "content"}}

<h1 class="page-header"><i class="fa fa-wrench"></i> Api Keys for public oauth2 clients</h1>
<span id="helpBlock" class="help-block">These Api Keys give consent to public oauth2 clients to access to your profile. The keys are intended to be used programatically from the command line or scripts.</span>

{{ range $m := .flashes }}
<div class="alert alert-success alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ $m }}
</div>
{{ end }}

{{ with .message }}
<div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ . }}
</div>
{{ end }}

{{ range $i, $c := .apiClients }}
    {{ $key := index $.keys $i }}
    {{ if $key }}
    <div class="media">
     <div class="media-left"> 
        <a href="#" style="color: #3c763d"><i class="fa fa-wrench fa-2x"></i></a>
     </div>
     <div class="media-body">
     <h4 class="media-heading">{{ $c.ClientID }} <span class="badge alert-success">Active</span></h4>
     <p>{{ $c.Description }}</p>
     <p>Last Accessed: <strong>{{ $key.LastAccessed.Format "Jan 02, 2006 15:04:05 MST" }}</strong></p>
     <button class="btn btn-default" data-record-id="{{ $c.ClientID }}" data-toggle="modal" data-target="#confirm-disable">
         <i class="fa fa-trash"></i> Delete
     </button>
     </div> 
    </div> 
    {{ else }}
    <div class="media">
     <div class="media-left"> 
        <a href="#" style="color: #d9534f"><i class="fa fa-wrench fa-2x"></i></a>
     </div>
     <div class="media-body">
     <h4 class="media-heading">{{ $c.ClientID }} <span class="badge alert-danger">Inactive</span></h4>
     <p>{{ $c.Description }}</p>
     <button class="btn btn-primary" data-record-id="{{ $c.ClientID }}" data-record-scopes="{{ $c.Scopes }}" data-toggle="modal" data-target="#confirm-enable">
         <i class="fa fa-check"></i> Create Api Key
     </button>
     </div> 
    </div> 

     {{ end }}
{{ end }}


<div class="modal fade" id="confirm-disable" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Are you sure you want to delete your Api Key?</h4>
      </div>
      <div class="modal-body">
        <p>This action <strong>CANNOT</strong> be undone. This will permanently delete
        your Api Key for <span id="remove_client_id" class="label label-info"></span> and if you'd like to use it in the future, you will
        need to create a new one.</p>
      </div>
      <div class="modal-footer">
      <form role="form" method="post">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
        <input type="hidden" id="remove_api_key" name="client_id" value="">
        <input type="hidden" id="action" name="action" value="remove">
        {{ .csrfField }}
        <button type="submit" class="btn btn-danger btn-ok"><i class="fa fa-trash"></i> Delete</a>
      </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="confirm-enable" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Are you sure you want to create an Api Key?</h4>
      </div>
      <div class="modal-body">
        <p>This will create a new Api Key for <span id="new_client_id" class="label label-info"></span> and allow access to the following
        scopes:
           <ul><li><span id="new_client_scopes" class="label label-info"></span></li></ul>
         By clicking the create button below you are giving consent for this client to access your profile.</p>
      </div>
      <div class="modal-footer">
      <form role="form" method="post">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
        <input type="hidden" id="action" name="action" value="enable">
        <input type="hidden" id="new_api_key" name="client_id" value="">
        {{ .csrfField }}
        <button type="submit" class="btn btn-success btn-ok"><i class="fa fa-check"></i> Create</a>
      </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$(function(){
    $('#confirm-enable').on('show.bs.modal', function(e) {
         var data = $(e.relatedTarget).data();
         $("#new_api_key").val( data.recordId );
         $("#new_client_id").text( data.recordId );
         $("#new_client_scopes").text( data.recordScopes );
    });
    $('#confirm-disable').on('show.bs.modal', function(e) {
         var data = $(e.relatedTarget).data();
         $("#remove_api_key").val( data.recordId );
         $("#remove_client_id").text( data.recordId );
    });
});
</script>

{{end}}
