{{define "content"}}

<h1 class="page-header"><i class="fa fa-lock"></i> Change Password </h1>

{{ if .completed }}
    <div class="alert alert-success">Your password has been changed.</div>
{{ else }}

{{ with .message }}
<div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ . }}
</div>
{{ end }}

    <form class="form-horizontal" role="form" method="POST">

      <div class="form-group">
        <label class="col-sm-3 control-label" for="password">Current Password</label>
        <div class="col-sm-6">
            <input class="form-control" id="password" name="password" rows="5" type="password" value="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="new_password">New Password</label>
        <div class="col-sm-6">
            <input class="form-control" id="new_password" name="new_password" rows="5" type="password" value="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="new_password2">Confirm Password</label>
        <div class="col-sm-6">
            <input class="form-control" id="new_password2" name="new_password2" rows="5" type="password" value="">
        </div>
      </div>

      <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
              <input id="csrf_token" name="csrf_token" type="hidden" value="{{ .token }}">
              <button type="submit" class="btn btn-primary">Change</button>
          </div>
      </div>
    </form>

{{ end }}


{{end}}
