{{define "content"}}

{{ with .message }}
<div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ . }}
</div>
{{ end }}

<h1 class="page-header"><i class="fa fa-hand-stop-o"></i> {{ .firstName}}, please give your consent</h1>

    <form class="form-horizontal" role="form" method="POST">
      <div class="form-group">
        <div class="col-sm-8">
            <span class="help-block">An application (id: {{.consent.Subject}}) requested consent to access resources on your behalf. The application wants access to:</span>
     {{range .consent.RequestedScopes}}
        <div class="checkbox">
          <label>
            <input type="checkbox" checked="checked" name="scope" value="{{.}}">
            {{.}}
          </label>
        </div>
      {{end}}
        </div>
      </div>

      <div class="form-group">
          <div class="col-sm-8">
              <input type="hidden" name="csrf" value="{{ .csrf }}" />
              <a href="{{ uri .ctx "index" }}" class="btn btn-danger">Deny</a>
              <button type="submit" name="action" value="approve" class="btn btn-success">Approve</button>
          </div>
      </div>
    </form>

{{end}}
