{{define "content"}}

{{ if .completed }}
    <br/>
    <br/>
    <div class="alert alert-success">A reset password email has been sent. Check your email for further instructions.</div>
{{ else }}

{{ with .message }}
<div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ . }}
</div>
{{ end }}

<form class="form-horizontal form-signup" role="form" method="POST">
    <h2 class="form-signup-heading">Password Reset</h2>

    <div class="form-group">
        <label for="username" class="col-md-3 control-label">Username</label>
        <div class="input-group col-md-9">
            <input type="text" class="form-control" name="uid" placeholder="Username">
        </div>
    </div>

{{ with .captchaID }}
  <div class="form-group">
    <label class="col-md-3 control-label">&nbsp;</label>
    <div class="col-md-9">
        <span class="help-block"><em>Type the numbers you see in the picture below:</em> <a href="#" onclick="reloadCaptcha()">Reload</a></span>
        <input name="captcha_sol" class="form-control" size="10" type="text" autocomplete="off">
        <input name="captcha_id" type="hidden" value="{{ . }}">
        <p><img id="captcha" src="{{ uri $.ctx (print "/auth/captcha/" $.captchaID ".png") }}" alt="Captcha image"></p>
    </div>
  </div>
{{ end }}
        
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <input type="hidden" name="csrf" value="{{ .csrf }}" />
            <button id="btn-signup" type="submit" class="btn btn-lg btn-primary btn-block"> Reset</button>
        </div>
    </div>
    
</form>


{{ with .captchaID }}
<script>
function setSrcQuery(e, q) {
    var src  = e.src;
    var p = src.indexOf('?');
    if (p >= 0) {
        src = src.substr(0, p);
    }
    e.src = src + "?" + q
}
function reloadCaptcha() {
    setSrcQuery(document.getElementById('captcha'), "reload=" + (new Date()).getTime());
    return false;
}
</script>
{{ end }}


{{ end }}


{{end}}
