{{define "content"}}

{{ if .completed }}
    <div class="alert alert-success">A reset password email has been sent. Check your email for further instructions.</div>
{{ else }}

{{ with .message }}
<div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ . }}
</div>
{{ end }}

<div class="panel panel-primary">
  <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-lock fa-lg"></i> Forgot Password</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="form" method="POST">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="uid">Username</label>
        <div class="col-sm-6">
            <input class="form-control" id="uid" name="uid" rows="5" type="text" value="">
        </div>
      </div>

      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
              <input id="csrf_token" name="csrf_token" type="hidden" value="{{ .token }}">
              <button type="submit" class="btn btn-primary">Reset</button>
          </div>
      </div>
    </form>

  </div>
</div>



{{ end }}


{{end}}
