{{define "content"}}

{{ if .completed }}
    <div class="alert alert-success">A reset password email has been sent. Check your email for further instructions.</div>
{{ else }}

{{ with .message }}
<div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ . }}
</div>
{{ end }}

  <form class="form-signin" role="form" method="POST">
    <h2 class="form-signin-heading"><i class="fa fa-lock"></i> Password Reset</h2>
    <label for="uid" class="sr-only">Username</label>
    <input type="text" id="uid" name="uid" class="form-control" placeholder="Username" required autofocus>
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ .token }}">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
  </form>

{{ end }}


{{end}}
