{{define "content"}}

<h1 class="page-header"><i class="fa fa-address-card-o"></i> Account Information</h1>

<form>
  <div class="form-group">
    <label>UID</label>
    <p class="form-control-static">{{ .user.Uid }}</p>
  </div>
  <div class="form-group">
    <label>Password Expiration</label>
    <p class="form-control-static">{{ .user.PasswdExpire.Format "Jan 02, 2006 15:04:05 MST" }}</p>
  </div>
  <div class="form-group">
    <label>Email address</label>
    <p class="form-control-static">{{ .user.Email }}</p>
  </div>
  <div class="form-group">
    <label>Groups</label>
    <div class="form-control-static">
        {{ range $g := .user.Groups }}
            <span class="label label-default">{{ $g }}</span> 
        {{ else }}
            &nbsp;
        {{ end }}
    </div>
  </div>
</form>

{{end}}
