{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="origin-when-cross-origin">
    <title>User Portal</title>
    <link href="/static/css/font-awesome.min.css?v=6" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css?v=6" rel="stylesheet">
    <link href="/static/css/styles.css?v=6" rel="stylesheet">

    <script src="/static/js/jquery.min.js?v=6"></script>
    <script src="/static/js/bootstrap.min.js?v=6"></script>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/static/images/mokey-portal.png" alt="User Portal" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {{ with .user }}
              <p class="navbar-text navbar-right">Hello {{ .First }} (<a href="/auth/logout" class="navbar-link">sign out</a>)</p>
              <ul class="nav navbar-nav navbar-right">
                <li class="hidden-lg hidden-md hidden-sm"><a href="/">Account Information</a></li>
                <li class="hidden-lg hidden-md hidden-sm"><a href="/changepw">Change Password</a></li>
                <li class="hidden-lg hidden-md hidden-sm"><a href="/sshpubkey">SSH Keys</a></li>
                <li class="hidden-lg hidden-md hidden-sm"><a href="/otptokens">OTP Tokens</a></li>
                <li class="hidden-lg hidden-md hidden-sm"><a href="/2fa">Two-Factor Auth</a></li>
                {{ if $.apiEnabled }}
                <li class="hidden-lg hidden-md hidden-sm"><a href="/apikey">Api Keys</a></li>
                {{ end }}
              </ul>
          {{ else }}
              <p class="navbar-text navbar-right"><a href="/auth/login">Sign In</a></p>
          {{ end }}
        </div>
      </div>
    </nav>

    <div class="container">
    <div class="row">
        {{ with .user }}
        <div class="col-sm-3 col-lg-3 sidebar">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Security Settings</strong></div>
                <div class="list-group">
                    <a href="/" class="list-group-item">Account Information</a>
                    <a href="/changepw" class="list-group-item">Change Password</a>
                    <a href="/sshpubkey" class="list-group-item">SSH Keys</a>
                    <a href="/otptokens" class="list-group-item">OTP Tokens</a>
                    <a href="/2fa" class="list-group-item">Two-Factor Auth</a>
                    {{ if $.apiEnabled }}
                    <a href="/apikey" class="list-group-item">Api Keys</a>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
        <div class="col-sm-9 col-lg-9">
            {{template "content" .}}
        </div>
    </div>

    </div><!-- /.container -->

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Powered by mokey | <a href="https://github.com/ubccr/mokey"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></p>
      </div>
    </footer>

  </body>
</html>
{{end}}
