{{define "content"}}

<h1 class="page-header"><i class="fa fa-lock"></i> Please complete login</h1>

{{ with .message }}
<div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ . }}
</div>
{{ end }}

    <form class="form-horizontal" role="form" method="POST">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="password">Password</label>
        <div class="col-sm-6">
            <input class="form-control" id="password" name="password" rows="25" type="password" value="">
        </div>
      </div>

      {{ if .otpRequired }}
      <div class="form-group">
        <label class="col-sm-2 control-label" for="answer">OTP Code</label>
        <div class="col-sm-6">
            <span class="help-block">Enter the six-digit auth code from your mobile app (no spaces)</span>
            <input class="form-control" id="code" name="code" rows="5" type="text" value="">
        </div>
      </div>
      {{ else if and (.answer) (.questionRequired) }}
      <div class="form-group">
        <label class="col-sm-2 control-label">Question:</label>
        <div class="col-sm-6">
             <p class="form-control-static">{{ .answer.Question }}?</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="answer">Answer</label>
        <div class="col-sm-6">
            <input class="form-control" id="answer" name="answer" rows="5" type="password" value="">
        </div>
      </div>
      {{ end }}

      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
              {{ .csrfField }}
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </div>
    </form>

<script>
$(function(){
    $('#password').focus();
});
</script>

{{end}}
