{{define "content"}}

{{ with .message }}
<div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ . }}
</div>
{{ end }}

  <form class="form-signin" role="form" method="POST">
    <h2 class="form-signin-heading"><i class="fa fa-lock"></i> Please Log in</h2>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="uid" name="uid" class="form-control" placeholder="Username" required autofocus>
    {{ .csrfField }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

      <div>
            <span class="help-block"><a href="/auth/forgotpw">Forgot your password?</a></span>
      </div>

  </form>

{{end}}
