{{define "content"}}

  <h1 class="page-header"><i class="fa fa-lock"></i> Password Reset </h1>

{{ if .completed }}
    <div class="alert alert-success">Your password has been reset.</div>
{{ else }}

{{ with .message }}
<div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ . }}
</div>
{{ end }}

    <form class="form-horizontal" role="form" method="POST">

      <div class="form-group">
        <label class="col-sm-3 control-label" for="password">New Password</label>
        <div class="col-sm-6">
            <input class="form-control" id="password" name="password" rows="5" type="password" value="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="password2">Confirm Password</label>
        <div class="col-sm-6">
            <input class="form-control" id="password2" name="password2" rows="5" type="password" value="">
        </div>
      </div>

{{ if .otpRequired }}
      <div class="form-group">
        <label class="col-sm-3 control-label" for="answer">OTP Code</label>
        <div class="col-sm-6">
            <span class="help-block">Enter the six-digit auth code from your mobile app</span>
            <input class="form-control" id="challenge" name="challenge" rows="5" type="text" value="">
        </div>
      </div>
{{ else if and (.answer) (.questionRequired) }}
      <div class="form-group">
        <label class="col-sm-3 control-label">&nbsp;</label>
        <div class="col-sm-6">
            <span class="help-block">Please answer the following security question:</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Question:</label>
        <div class="col-sm-6">
             <p class="form-control-static">{{ .answer.Question }}?</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="challenge">Answer</label>
        <div class="col-sm-6">
            <input class="form-control" id="challenge" name="challenge" rows="5" type="password" value="">
        </div>
      </div>
{{ end }}

      <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
              {{ .csrfField }}
              <button type="submit" class="btn btn-primary">Reset</button>
          </div>
      </div>
    </form>

{{ end }}


{{end}}
