{{define "content"}}


{{ if .completed }}
    {{ if .otptoken }}
      <h1 class="page-header"><i class="fa fa-lock"></i> Setup Two-Factor Authentication </h1>
        <div class="col-sm-6">
            <span class="help-block"> Scan the QR code with your mobile device's app. For more information <a data-toggle="modal" data-target="#twofa-info" href="#twofa-info">click here</a>:</span>
            <img alt="QRCode" src="data:image/png;base64,{{ .otpdata }}" />

            <p><a data-toggle="modal" data-target="#qrcode-info" href="#qrcode-info">Show URI</a></p>
        </div>

    <div class="modal fade" id="qrcode-info" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Two-Factor Auth URI</h4>
          </div>
          <div class="modal-body">
                <samp>
                    {{ .otptoken.URI }}
                <samp>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {{ else }}
      <h1 class="page-header"><i class="fa fa-lock"></i> Setup Complete</h1>
      <div class="alert alert-success">Thank you. Your account has been successfully activated. </div>
    {{ end }}

{{ else }}

  <h1 class="page-header"><i class="fa fa-lock"></i> Setup user account </h1>

{{ with .message }}
<div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ . }}
</div>
{{ end }}

    <form class="form-horizontal" role="form" method="POST">

      {{ if .otpRequired }}
      <div class="form-group">
        <label class="col-sm-2 control-label">&nbsp;</label>
        <div class="col-sm-6">
            <span class="help-block"><span class="label label-danger">Action Required</span> 
            You will be required to setup Two-Factor authentication on the next
            step. After clicking the Save button below you will need to scan a QR
            code with your mobile device's authenticator app. For futher
            instructions <a data-toggle="modal" data-target="#twofa-info" href="#twofa-info">click here</a>
            </span>
        </div>
      </div>
      {{ end }}

      <div class="form-group">
        <label class="col-sm-2 control-label" for="password">Password</label>
        <div class="col-sm-6">
            <input class="form-control" id="password" name="password" rows="5" type="password" value="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="password2">Confirm Password</label>
        <div class="col-sm-6">
            <input class="form-control" id="password2" name="password2" rows="5" type="password" value="">
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-2 control-label">&nbsp;</label>
        <div class="col-sm-6">
            <span class="help-block">Please set a security question to use for verifying your identity in the future.</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="qid">Question</label>
        <div class="col-sm-6">
            <select class="form-control" id="qid" name="qid" rows="5">
            {{ range $q := .questions }}
                <option value="{{ $q.ID }}">{{ $q.Question }}</option>
            {{ end }}
            </select>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-2 control-label" for="answer">Answer</label>
        <div class="col-sm-6">
            <input class="form-control" id="answer" name="answer" rows="5" type="text" value="">
            
        </div>
      </div>

      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
              {{ .csrfField }}
              <button type="submit" class="btn btn-primary">Save {{ if .otpRequired }}&amp; Setup Two-Factor Auth {{ end }}</button>
          </div>
      </div>
    </form>


{{ end }}


<div class="modal fade" id="twofa-info" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Setting up Two-Factor Authentication</h4>
      </div>
      <div class="modal-body">
            {{template "otp-info.html" .}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK Got it!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{end}}
