{{define "content"}}

{{ with .completed }}
    <br/>
    <br/>
    <div class="alert alert-success">Your account as been activated successfully. Thank you.</div>
{{ else }}

<form class="form-horizontal form-signup" role="form" method="POST">
    <h2 class="form-signup-heading">Verify Account</h2>
    <div style="margin-bottom: 25px">
    <span class="help-block">Verify your email: <strong>{{ .email }}</strong>. Click below to finish setting up your account.</span>
    </div>

    <div class="form-group">
        <div>
            <input type="hidden" name="csrf" value="{{ .csrf }}" />
            <button id="btn-signup" type="submit" class="btn btn-lg btn-primary btn-block"> Verify</button>
        </div>
    </div>
    
</form>

{{ end }}

{{end}}
