{{define "content"}}

<h1 class="page-header"><i class="fa fa-lock"></i> Set Security Question </h1>

{{ with .message }}
<div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ . }}
</div>
{{ end }}

    <form class="form-horizontal" role="form" method="POST">

      <div class="form-group">
        <label class="col-sm-2 control-label" for="qid">Question</label>
        <div class="col-sm-6">
            <select class="form-control" id="qid" name="qid" rows="5">
            {{ range $q := .questions }}
                <option value="{{ $q.ID }}">{{ $q.Question }}</option>
            {{ end }}
            </select>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-2 control-label" for="answer">Answer</label>
        <div class="col-sm-6">
            <input class="form-control" id="answer" name="answer" rows="5" type="text" value="">
            
        </div>
      </div>

      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
              <input id="csrf_token" name="csrf_token" type="hidden" value="{{ .token }}">
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </div>
    </form>

{{end}}
