{{define "content"}}

{{ with .message }}
<div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ . }}
</div>
{{ end }}

{{ with .success }}
    <div class="alert alert-success">Your account as been created. You must verify your email address and setup a password. Check your email for further instructions.</div>
{{ else }}

<form class="form-horizontal form-signup" role="form" method="POST">
    <h2 class="form-signup-heading">Create Account</h2>

    <div class="form-group">
        <label for="username" class="col-md-3 control-label">Username</label>
        <div class="col-md-9">
            <input type="text" class="form-control" name="uid" placeholder="Username">
        </div>
    </div>
    
    <div class="form-group">
        <label for="email" class="col-md-3 control-label">Email</label>
        <div class="col-md-9">
            <input type="text" class="form-control" name="email" placeholder="Email Address">
        </div>
    </div>
        
    <div class="form-group">
        <label for="firstname" class="col-md-3 control-label">First Name</label>
        <div class="col-md-9">
            <input type="text" class="form-control" name="first" placeholder="First Name">
        </div>
    </div>
    <div class="form-group">
        <label for="lastname" class="col-md-3 control-label">Last Name</label>
        <div class="col-md-9">
            <input type="text" class="form-control" name="last" placeholder="Last Name">
        </div>
    </div>

{{ with .captchaID }}
  <div class="form-group">
    <label class="col-md-3 control-label">&nbsp;</label>
    <div class="col-md-9">
        <span class="help-block"><em>Type the numbers you see in the picture below:</em> <a href="#" onclick="reloadCaptcha()">Reload</a></span>
        <input name="captcha_sol" class="form-control" size="10" type="text">
        <input name="captcha_id" type="hidden" value="{{ . }}">
        <p><img id="captcha" src="/captcha/{{ . }}.png" alt="Captcha image"></p>
    </div>
  </div>
{{ end }}
        
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <input type="hidden" name="csrf" value="{{ .csrf }}" />
            <button id="btn-signup" type="submit" class="btn btn-lg btn-primary btn-block"> Sign Up</button>
        </div>
    </div>

      <div style="margin-top: 25px">
            <span class="help-block text-center">Already have an account? <a href="/auth/login">Sign in</a></span>
      </div>
    
</form>



{{ with .captchaID }}
<script>
function setSrcQuery(e, q) {
    var src  = e.src;
    var p = src.indexOf('?');
    if (p >= 0) {
        src = src.substr(0, p);
    }
    e.src = src + "?" + q
}
function reloadCaptcha() {
    setSrcQuery(document.getElementById('captcha'), "reload=" + (new Date()).getTime());
    return false;
}
</script>
{{ end }}

{{ end }}

{{end}}
