{{define "content"}}

  <h1 class="page-header"><i class="fa fa-lock"></i> Setup TOTP Token </h1>

        <div class="col-sm-6">
            <span class="help-block"> Scan the QR code with your mobile device's app. For more information <a data-toggle="modal" data-target="#twofa-info" href="#twofa-info">click here</a>:</span>
            <img alt="QRCode" src="data:image/png;base64,{{ .otpdata }}" />

            <p><a data-toggle="modal" data-target="#qrcode-info" href="#qrcode-info">Show URI</a></p>
        </div>

    <div class="modal fade" id="qrcode-info" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Two-Factor Auth URI</h4>
          </div>
          <div class="modal-body">
                <samp>
                    {{ .otptoken.URI }}
                <samp>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<div class="modal fade" id="twofa-info" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Setting up Two-Factor Authentication</h4>
      </div>
      <div class="modal-body">
            {{template "otp-info.html" .}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK Got it!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{end}}
