[Unit]
Description=mokey server
After=syslog.target network.target

[Service]
Type=simple
User=mokey
Group=mokey
EnvironmentFile=/etc/default/mokey
WorkingDirectory=/var/lib/mokey
ExecStart=/usr/bin/mokey serve $MOKEY_ARGS
Restart=on-abort
StateDirectory=mokey
ConfigurationDirectory=mokey

[Install]
WantedBy=multi-user.target
