body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.main-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.login-card {
    max-width: 500px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
}
.login-card .login-body .login-body-wrapper {
    max-width: 400px;
}

#login-failed {
    max-width: 500px;
}

.navbar-inverse {
    background-color: #0055bb;
    border-color: #ccc;
}

.navbar-inverse .navbar-text {
    color: #fff;
}

.navbar-inverse .navbar-text > a {
    color: #fff;
}

.footer .text-muted > a {
    color: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #0055bb;
}


.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}

.btn-alternate-hide,
.btn-alternate-show {
  width: 80px;
}
.btn-alternate-show {
  display: none;
}
.btn-alternate-hide:hover + .btn-alternate-show {
  display: block;
}
.btn-alternate-show:hover {
  display: block;
}
